.advert {
    background-image: url('../img/Slice_1.png');
}
.container--advert-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advert__text {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 50px 250px;
}
.advert__text-sale {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: 700;
}