.info {
    background-image: url('../img/Group1.png');
    background-color: #27273e;
}
.info__text {
    color: white;
    font-family: "gothempro", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    padding: 0;
}
.info__text-sale {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: 700;
}