.advert {
    background-image: url('../img/Slice_1.png');
}  
.container--advert-block {
    width: 250px;
    display: block;
}
.advert__text {
    color: white;
    font-family: "gothempro", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    padding: 0;
}
.advert__text-sale {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: 700;
}