html , body {
    height: 100%;
}

p { 
    font-family: "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
  
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.title {
    font-size: 49px;
    line-height: 38px;
    font-family: "Gotham Pro";
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 0;
    padding: 0;
    text-align: left;
}
img {
display: block;
}