.breadcrumbs{
    display: flex;
    flex-flow: row nowrap;
}
.breadcrumbs__item:after {
  content: "/";
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  font-style: italic;
  font-size: 14px;
  opacity: .8;
  color: rgba(178, 73, 48, 0.8);
}
.breadcrumbs__block {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: black;
}
.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
  text-decoration: none;
}
.breadcrumbs__item--active .breadcrumbs__block {
  border-radius: 50%;
  background: #27273e;
}
.breadcrumbs {
  margin-bottom: 27px;
}