.aside {
display: flex;
width: 22%;
flex-direction: column;
align-items: center;
color: black;
margin-right: 10px;
}
.feature {
    text-align: center;
}
.feature__title {
    margin: 0;
    font-size: 11px;
    font-family: "Gotham Pro";
    font-weight: bold;
    line-height: 51.38px;
    color: #212121;
    text-transform: uppercase;
}
.title--tarif {
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.feature__list {
    font-size: 18px;
    line-height: 30px;
}

.feature__item {
    font-family: "Gotham Pro";
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}
.feature__item:before {
    padding-left: 40px;
    content: "• ";
    color:#ec1e79;
    position: relative; 
    left: -20px;
}