
.footer{
    background-color:#27273e;
    color: #ffffff;
    min-height: 77px;
    padding-top: 15px;
}
.footer__text-note {
    margin: 0;
}
.footer__contacts {
    text-decoration: underline;
    color: #ffffff;
}