.header {
    background-color:#27273e;
    padding-bottom: 5px;
}
.container--flex{ 
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: 12px;
    padding-bottom: 13px;
    cursor: pointer;
}

.contacts__phone{
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}
.contacts__schedule {
    height: 100%;
    position: relative;
}
.contacts__work {
    border:none;
    background-color:#27273e;
    float: right;
    color: #ec1e79;
    font-size: 14px;
    font-weight: bold;
    opacity: .9;
    text-decoration: underline;
    cursor: pointer;
}
.contacts__work:hover {
    color: #5dd1f8;
}
.contacts__timetable {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    background: white;
    border-radius: 5px;
    padding: 5px 5px;
    display: none;
}
.contacts__schedule:hover .contacts__timetable {
    display: block;
}
.contacts__worktime {
    color: #ec1e79;
    font-size: 14px;
    font-weight: bold;
}
.contacts__breaktime {
    color: #221f1f;
    font-family: "Gotham Pro Light";
    font-weight: 300;
}