
.network__contacts {
    margin: 0;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    
}
.network .network__list {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.network__item {
    display: flex;
    justify-content: center;
    width:20px;
    height:20px;
    background: #ffffff;
    border-radius: 50%;
    padding-top: 5px;
}
.network__link {
    display: block;
    text-align: center;
    line-height: 25px;
    height: 100%;
    background-image: url('../img/spritsheet.png');
}
.network__link-vk {
    width: 12px;
    height: 7px;
    background-position: -320px -5px;
}
.network__link-fb {
    width: 6px;
    height: 13px;
    background-position: -5px -5px;
}
.network__link-google {
    width: 15px;
    height: 9px;
    background-position: -118px -5px;
}
.network__link-twitter {
    width: 11px;
    height: 9px;
    background-position: -299px -5px;
}
.network__link-mail {
    width: 12px;
    height: 9px;
    background-position: -143px -5px;
}
.network__item:hover {
    width:20px;
    height:20px;
    border-radius: 50%;
    background: #ec1e79;
}