.sidebar {
    flex-basis: 20%;
}
.nav__item {
    margin-bottom: 20px;
}
.nav__item a {
    color: #ec1e79;
}
.nav__link {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 40px;
    padding-left: 40px;
    color: inherit;
    text-decoration: none;
    transition: 500ms;
}

.nav__link:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 3px;
    background-image: url('../img/spritsheet.png');
    background-repeat: no-repeat;
    transition: 1s;
}
.nav__link::after{
    content: "";
    position: absolute;
    top: 13px;
    left: 3px;
    background-image: url('../img/spritsheet.png');
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s;
}
.nav__link--main:before {
    width: 17px;
    height: 15px;
    background-position: -192px -5px;
}
.nav__link--main:after  {
    width: 17px;
    height: 15px;
    background-position: -165px -5px;
    opacity: 0;
}
.nav__link--star:before {
    width: 20px;
    height: 18px;
    background-position: -21px -5px;
}
.nav__link--star:after  {
    width: 20px;
    height: 18px;
    background-position: -51px -5px;
    opacity: 0;
}

.nav__link--direction:before {
    width: 20px;
    height: 18px;
    background-position: -342px -5px;
}
.nav__link--direction:after  {
    width: 20px;
    height: 18px;
    background-position: -371px -5px;
    opacity: 0;
}
.nav__link:hover:after {
    opacity: 1;
  }
.nav__item--active a {
    color: #000;
    filter: grayscale(100%)
}
.nav__link:hover {
    color: #000;
}