@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face { 
    font-family: "Gotham Pro";
    src: url('../fonts/GothaProBol.woff');
    font-weight: bold;
	font-style: normal;
}
@font-face {
font-family: "Gotham Pro";
src: url('../fonts/GothaProLig.woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Gotham Pro";
src: url('../fonts/GothaProLigIta.woff');
font-weight: normal;
font-style: italic;
}

p { font-family: "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
  
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding:15px;
    width: 1100px;
}
.header {
    background-color:#27273e;
}
.container--flex{ 
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 99px;
    height: 51px;
}

.company-contacts__phone{
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

.company-contacts__work {
    border:none;
    background-color:#27273e;
    float: right;
    color: #ec1e79;
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
}
.banner {
    background-image: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    min-height: 359px;
    background-position: center;
    background-color: #27273e;
}
.maincontent .container {
    display: flex;
}

.sidebar {
    flex-basis: 200px;
}
.nav__item {
    margin-bottom: 20px;
}
.nav__icon,
.nav__title {
  display: inline-block;
  vertical-align: top;
}
.nav__title {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: bold;
}
.nav__link {
    text-decoration: none;
}
.nav__icon {
    width: 24px;
    height: 18px;
}
.nav__icon--main {
    background: url('../img/main_iconpink.png') center center no-repeat;
}
.nav__icon--star {
    background: url('../img/feed_icon.png') center center no-repeat;
}
.nav__icon--direction {
    background: url('../img/wallet_icon.png') center center no-repeat;
}
.nav__link:hover .nav__icon--main {
    background: url('../img/main_icon.png') center center no-repeat;
}
.nav__link:hover .nav__icon--star {
    background: url('../img/feed_iconblack.png') center center no-repeat;
}
.nav__link:hover .nav__icon--direction {
    background: url('../img/wallet_iconblack.png') center center no-repeat;
}
.nav__item--active .nav__icon--main {
    background: url('../img/main_icon.png') center center no-repeat;
}
.nav__item--active .nav__icon--star {
    background: url('../img/feed_iconblack.png') center center no-repeat;
}
.nav__item--active .nav__icon--direction {
    background: url('../img/wallet_iconblack.png') center center no-repeat;
}
.nav__item--active .nav__title {
    color: black;
}
.nav__link:hover .nav__title {
    color: black;
  }
.main {
    flex-basis: 900px;
}
.feature {
    text-align: center;
    margin-bottom: 50px;
}
.title {
    font-size: 49px;
    line-height: 38px;
    font-family: "Gotham Pro";
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 0;
    padding: 0;
    text-align: left;
}
.feature__title {
    margin: 0;
    font-size: 11px;
    font-family: "Gotham Pro";
    font-weight: bold;
    line-height: 51.38px;
    color: #212121;
    text-transform: uppercase;
}
.feature__list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 30px;
}
.feature__pic {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #27273e;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.feature__pic--flower {
    background-image: url('../img/flower.png');
}
.feature__pic--favorite {
    background-image: url('../img/mark-as-favorite-star.png');
}
.feature__pic--palette {
    background-image: url('../img/painter-palette.png');
}
.feature__item {
    font-family: "Gotham Pro";
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}
.feature__item:before {
    padding-left: 40px;
    content: "• ";
    color:#ec1e79;
    position: relative; 
    left: -20px;
}
.breadcrumbs{
    display: flex;
    flex-flow: row nowrap;
}
.breadcrumbs__item:after {
  content: "/";
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  font-style: italic;
  font-size: 14px;
  opacity: .8;
  color: rgba(178, 73, 48, 0.8);
}
.breadcrumbs__block {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: black;
}
.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
  text-decoration: none;
}
.breadcrumbs__item--active .breadcrumbs__block {
  border-radius: 50%;
  background: #27273e;
}
.breadcrumbs {
  margin-bottom: 27px;
}
.previews__item {
    display: flex;
}
.previews__pic {
    width: 160px; 
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 62px;
    flex-shrink: 0;
    background: url('../img/logo_fig_comments.png') center center no-repeat;
}
.previews__avatar {
    width: 160px; 
    height: 160px;   
}
.prewiews__date,
.previews__headline{
    margin-bottom: 10px;
}
.prewiews__date {
    color: #656464;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.previews__headline {
    font-family: "Roboto";
    font-weight: bold;
    line-height: 21px;
}
.previews__text {
    font-family: "Roboto";
    font-weight: 300;
    line-height: 30px;
}
.pagination {
    margin-bottom: 74px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.pagination_wrapper {
    align-items: center;
    font-size: 14px;
}
.pagination__pages {
    display: flex;
    flex-direction: row;
}
.pagination__display {
    color: #656464;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    margin-right: 10px;
    align-items: center;
}
.pagination__pages-item {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}

.pagination__pages-link {
    color: #221f1f;
    display: block;
    text-align: center;
    line-height: 25px;
    height: 100%;
}
.pagination__pages-link.active {
    color:#ffffff;
}

.pagination__pages-item.active {
    background-color: #27273e;
    border-radius: 3px;
    line-height: 25px; 
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}
.pagination__pages-item:last-child {
    margin-right:0;
}

.footer{
    background-color:#27273e;
    color: #ffffff;
    min-height: 77px;
}
.footer__text-note {
    margin: 0;
}
.network__contackts {
    margin: 0;
}
.network .network__list {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.network__item {
    display: flex;
    justify-content: center;
    width:20px;
    height:20px;
    background: #ffffff;
    border-radius: 50%;
}

.network__link {
    display: block;
    text-align: center;
    line-height: 25px;
    height: 100%;
}
.network__link-vk {
    background: url('../img/vk.png') center center no-repeat;
    width: 12px;
}
.network__link-fb {
    background: url('../img/fb.png') center center no-repeat;
    width: 12px;
}
.network__link-google {
    background: url('../img/google.png') center center no-repeat;
    width: 12px;
}
.network__link-twitter {
    background: url('../img/twitter.png') center center no-repeat;
    width: 12px;
}
.network__link-mail {
    background: url('../img/mail.png') center center no-repeat;
    width: 12px;
}
.network__item:hover {
    width:20px;
    height:20px;
    border-radius: 50%;
    background: #ec1e79;
}
.contackt {
    text-decoration: underline;
    color: #ffffff;
}
.advert {
    min-height: 100px;
    background-image: url('../img/Slice_1.png');
}
.container--advert {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advert__text {
    width: 611px;
    height: 77px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.advert__text-sale {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: 700;
}
form {
    margin: 0 auto;
}
.form {
    background-color: #f5f5f5;
    padding: 51px 70px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
    margin-top: 50px;
}

.form__title {
    color: #221f1f;
    font-family: "Gotham Pro";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}
.form__row {
    margin-bottom: 20px;
    display: flex;
}

.form__label {
    margin-right: 22px;
    flex: 1 0 auto;
}
.form__label:last-child {
    margin-right: 0;
}
.form-field {
    width: 100%;
    background: #ffffff;
    border:none;
    font-size: 14px;
    height: 40px;
    padding: 0 5px;
}
.form-field::placeholder {
    color: #221f1f;
    opacity: 0.5;
}
.form__textarea {
    resize: vertical;
    height: 90px;
}
.form__radio {
    width: 100%;
    margin-bottom: 20px;
}
.form__answer {
    display: none;
}
.form__radio-btn {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
.form__radio-custom {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid  #000;
    opacity: 0.5;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.form__radio-custom:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color:#ec1e79;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
}

.form__answer:checked +.form__radio-custom:after {
    opacity: 1;
}
   
.form__answer:checked +.form__radio-custom +.form__radio-text {
   opacity: 1;
}
.form__button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #27273e;
    border-radius: 2px;
    border: transparent;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2.4px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-left: 340px;
  }

.prices__list {
    display: flex;
    justify-content: space-between;
    flex-flow:row wrap;
}
.prices__item {
    width: 30%;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.prices__pic {
    width: 250px; 
    height: 150px; 
    margin: 0 auto;
    position: relative; 
    margin-bottom: 15px;
    overflow: hidden;
    border: 50%;
}
.prices__img {
    width: 100%;
    height: 100%;
}
.prices__pic-effect {
    width: 250px; 
    height: 150px;
    background-color: #27273e;
    opacity: 0.8;
    font-family: "Gotham Pro";
    font-size: 25px;
    font-weight: 700;
    line-height: 160px;
    text-align: center;
    color: #5dd1f8;
    position: absolute;
    top:0;
    right: 0;
    transition-duration: 1s;
    cursor: pointer;
}
.prices__pic-effect:hover {
    opacity: 0; 
}
.partners {
    margin-top: 40px;
}
.partners__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.partners__item {
    margin-bottom: 60px;
    margin-right: 135px;
}
.partners__logo {
    filter: grayscale(100%);
    opacity: 0.7;
    width: 150px;
    height: 50px;
}