body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    margin: 0;
    padding: 0;
}
  
 ul li {
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1100px;
}
.header {
    background-color:#27273e;
    height: 77px;
}
.header__container{ 
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 99px;
    height: 51px;
}

.company-contacts__phone{
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

.company-contacts__work {
    border:none;
    background-color:#27273e;
    float: right;
    color: #ec1e79;
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
}
.banner {
    background-image: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    min-height: 359px;
    background-position: center;
    background-color: #27273e;
}
.maincontent .container {
    display: flex;
   }

.sidebar {
    flex-basis: 200px;
}
.nav__icon,
.nav__title {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.nav__title {
    color: #ec1e79;
    font-weight: bold;
}
.nav__link {
  text-decoration: none;
}
.nav__icon {
  width: 24px;
  height: 18px;
}
.nav__icon--main {
    background: url('../img/main_icon.png') center center no-repeat;
}
.nav__icon--star {
    background: url('../img/feed_icon.png') center center no-repeat;
}
.nav__icon--direction {
    background: url('../img/wallet_icon.png') center center no-repeat;
}
.nav__item--active .nav__title {
    color: black;
}
.main {
    flex-basis: 900px;
}
.feature {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.title {
    font-size: 49px;
    line-height: 38px;
    font-weight: bold;
}

.feature__list {
    display: flex;
    justify-content: space-evenly;
}
.previews__avatar {
    width: 160px; 
    height: 160px;
    border-radius: 50%;
}
.pagination {
    display: flex;
    justify-content: space-evenly;
}
.pagination__wrapper {
font-size: 14px;
margin-bottom: 60px;
}
.footer {
    background-color: #27273e;
    position: relative;
    color: #ffffff;
    min-height: 77px;
}
.network {
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: right;
}
.footer__img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}